* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #8b0ba6;
    
}

body {
    font-size: 12.1318px;
}

header {
    display: flex;
    justify-content: space-around;
    color: #560268;
    font-size:3.14159265358rem;
    margin-bottom: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:1.6180339887rem;
    color: #ac51bf
}

footer {
    color: #8000a0;
    background-color: transparent;
    position: relative;
    bottom:0;
    right:0;
}

.message--container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 1rem;
}

.message--text {
    
}

.Escher-Crawling--img {
    width: 50%;
    height: auto;
    object-fit: contain;
    padding-left: 20px;
    /* margin-left: 25vw; */
}

.Escher-Smurk--img {
    width: 50%;
    height: auto;
    object-fit: contain;
    /* padding-left: 30vw; */
    margin-left: 12.1318vw;
}
.speech-bubble-1 {
    position: relative;
    margin-left: 25vw;
	background: #560268;
    border-radius: .4em;
    padding: .1em;
    text-align: center;
    color: white;
}

.speech-bubble-1:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #560268;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.speech-bubble-2 {
	position: relative;
	/* margin-right: 20px; */
	background: #560268;
    border-radius: .4em;
    padding: .1em;
    text-align: center;
    color: white;
    margin-right: 10px;
}

.speech-bubble-2:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #560268;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}